numpy
scipy
matplotlib
torch
torchvision
nltk
Pillow
tqdm
lmdb
tensorflow
tensorboardX
streamlit
scikit-image
-e git+https://github.com/Nerdward/inverse_cooking.git@25f1a939a5f239cdb4281d950f2e04f29546b235#egg=src
transformers