numpy
scipy
matplotlib
torch
torchvision
nltk
Pillow
tqdm
lmdb
tensorflow
tensorboardX
streamlit
scikit-image
-e git+https://github.com/Nerdward/inverse_cooking.git@47e25b10d5c0fa661ce6775d3ee2020da0f18777#egg=src
transformers